.cache/
.config/
.copilot/
.dotnet/
.ipython/
.local/
.nv/
.vscode-server/
DocExplore/
evaluation_kit_v2/
https:/
Sketches/
snap/
venv/
DocExplore_images/
DocExplore_queries_web/
S3BIR-DINO/
S3BIR_DINO/*
¡Doc/
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile
.wget-hsts
skDinoV3_sketchy.ckpt
INFORME/*
!INFORME/informe.tex
!INFORME/referencias.bib
!INFORME/Imagenes

