.cache/
.config/
.copilot/
.dotnet/
.ipython/
.local/
.nv/
.vscode-server/
DocExplore/
evaluation_kit_v2/
https:/
Sketches/
snap/
venv/
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile
.wget-hsts
